{% extends 'dashboard/base_admin.html' %}

{% block content %}
    <div class="row mt-6">
        <div class="col-md-12 col-12">
            <div class="card">
                <!-- card header  -->
                <div class="card-header bg-white  py-4">
                    <h4 class="mb-0">Add Image to {{ attraction.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <form action="{% url 'places:add_image_attraction' attraction.id %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success">Add</button>
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                {% for image in attraction.attractions_images.all %}
                                    <div class="col-6">
                                        {% if image.image %}
                                            <figure class="figure">
                                                <img src="{{ image.image.url }}" class="rounded mb-2" alt="..."
                                                     width="200" height="150">
                                                <figcaption class="figure-caption text-center">
                                                    {% if image.is_active %}Published{% else %}Unpublished{% endif %}
                                                </figcaption>
                                            </figure>
                                        {% endif %}
                                        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                                            <div class="me-2">
                                                <a href="{% url 'places:modify_image_attraction' image.id %}"
                                                   class="btn btn-warning btn-sm">Modify</a>
                                            </div>
                                            <div>
                                                <form action="{% url 'places:delete_image_attraction' image.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-success btn-sm">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}