{% extends "dashboard/dashboard.html" %}
{% block title %}Change your password{% endblock %}
{% block description %}Change your password{% endblock %}
{% block keywords %}Change your password{% endblock %}
{% block ogtitle %}Change your password{% endblock %}
{% block ogdescription %}Change your password{% endblock %}
{% block content %}
    <!-- Card -->
    <div class="card smooth-shadow-md">
        <!-- Card body -->
        <div class="card-body p-6 text-center">
            <h4>Change your password</h4>
            {% if next %}
                {% if user.is_authenticated %}
                    <p>
                        Your account doesn't have access to this page. To proceed, please login with an account that has
                        access.
                    </p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'password_change' %}" autocomplete="off">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="password" name="old_password" autofocus="" required="" class="form-control"
                           placeholder="Old Password:" id="id_old_password">
                    <label for="id_old_password">Old Password:</label>
                    <div class="text-danger">{{ form.old_password.errors }}</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="new_password1" class="form-control" required="" id="id_new_password1"
                           placeholder="New Password:">
                    <label for="id_new_password1">New Password:</label>
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                    {{ form.new_password1.help_text }}
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="new_password2" class="form-control" required="" id="id_new_password2"
                           placeholder="Confirm new password:">
                    <label for="id_new_password2">Confirm new password:</label>
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                </div>
                <button type="submit" class="btn btn-danger mb-4">Save</button>
            </form>
        </div>
    </div>
{% endblock %}