{% extends "dashboard/base_registration.html" %}
{% block title %}new password{% endblock %}
{% block description %}new password{% endblock %}
{% block keywords %}new password{% endblock %}
{% block ogtitle %}new password{% endblock %}
{% block ogdescription %}new password{% endblock %}
{% block content %}
    {% if validlink %}
        <h5>Password reset</h5>
        <p>Enter the new password to access your Reserved Area.</p>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Passwords do not match. Try again!
                <button type="button" class="btn-close not-focusable" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endif %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="password" name="new_password1" class="form-control" required="" id="id_new_password1">
                <label for="id_new_password1">New Password:</label>
                {{ form.new_password1.help_text }}
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="new_password2" class="form-control" required="" id="id_new_password2">
                <label for="id_new_password2">Password confirmation::</label>
                {{ form.new_password2.help_text }}
            </div>
            <button type="submit" class="btn btn-danger mb-5">Continua</button>
        </form>
    {% else %}
        <div class="d-flex justify-content-between mb-5">
            <div>
                <a href="{% url 'pages:home' %}" class="text-inherit fs-5">
                    <i class="bi bi-arrow-left"></i> View Website
                </a>
            </div>
            <div>
                <a href="{% url 'password_reset' %}" class="text-inherit fs-5">
                    Forgot your password? <i class="bi bi-arrow-clockwise"></i>
                </a>
            </div>
        </div>
        <div class="text-center mt-5">
            <i class="bi bi-emoji-frown display-1"></i>
        </div>
        <p class="mb-6">
            The password reset link was invalid, probably because it already has used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}