{% extends "dashboard/base_registration.html" %}
{% block title %}The password has been changed successfully{% endblock %}
{% block description %}The password has been changed successfully{% endblock %}
{% block keywords %}The password has been changed successfully{% endblock %}
{% block ogtitle %}The password has been changed successfully{% endblock %}
{% block ogdescription %}The password has been changed successfully{% endblock %}
{% block content %}
    <div class="text-center">
        <i class="bi bi-check2-circle display-1"></i>
    </div>
    <br>
    <p class="mb-6">
        The password has been changed successfully.
        <a href="{% url 'login' %}" class="text-success fw-bold">Click here</a>
        to log in with the new password to access your private area.
    </p>
{% endblock %}