{% extends "dashboard/base_registration.html" %}
{% block title %}The password has been changed successfully{% endblock %}
{% block description %}The password has been changed successfully{% endblock %}
{% block keywords %}The password has been changed successfully{% endblock %}
{% block ogtitle %}The password has been changed successfully{% endblock %}
{% block ogdescription %}The password has been changed successfully{% endblock %}
{% block content %}
    <div class="text-center">
       <i class="bi bi-check2-circle display-1"></i>
    </div>
    <p>The password has been changed successfully!</p>
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-danger mb-2">Logout</button>
    </a>
{% endblock %}