{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'pages:home' %}">
            <img src="{% static 'img/logo.svg' %}" width="30" height="30" alt="Opinion Trip">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark menu-hover" aria-current="page" href="{% url 'pages:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-hover" href="{% url 'cities:city_all' %}">Cities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-hover" href="{% url 'places:attraction_all' %}">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-hover" href="#">Blog</a>
                </li>
            </ul>
            {% if not section == 'home' %}
                <form method="GET" action="{% url 'search:results' %}" autocomplete="off" class="form-inline">
                    <div class="col-11">
                        <div class="input-group bg-white rounded">
                            <span class="input-group-text border-0 bg-light" id="basic-addon1">
                                <button class="btn btn-light border-0 p-0" type="submit">
                                    <i class="bi bi-search fs-5"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control border-0 bg-light" placeholder="Search" aria-label="Search"
                                   aria-describedby="basic-addon1" name="keyword_q" value="{{ request.GET.keyword_q }}"
                                   required>
                            <select class="form-select border-0 bg-light" aria-label="Default select example" name="type_search"
                                    required>
                                <option value="1">for cities</option>
                                <option value="2">for attractions</option>
                            </select>
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-start"
                       id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'dashboard/img/avatar/avatar-1.jpg' %}{% endif %}"
                             alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'pages:dashboard' %}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'registration:update_profile' %}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="d-grid gap-2 d-md-block">
                    <a href="{% url 'login' %}" class="btn btn-outline-danger btn-sm rounded-3 font-text-itim">
                        Login
                    </a>
                    <a href="{% url 'registration:sign_up' %}"
                       class="btn btn-outline-dark btn-sm rounded-3 font-text-itim">
                        Sign up
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
