<ul class="list-unstyled list-inline mb-0">
    <li class="list-inline-item m-e-2">
        <i class="bi bi-circle{% if review.rating < 0.5 %}-half color-green{% elif review.rating > 0.5 %}-fill color-green{% endif %}"></i>
    </li>
    <li class="list-inline-item m-e-2">
        <i class="bi bi-circle{% if review.rating > 1 and review.rating <= 1.5 %}-half color-green{% elif review.rating > 1.5 %}-fill color-green{% endif %}"></i>
    </li>
    <li class="list-inline-item m-e-2">
        <i class="bi bi-circle{% if review.rating > 2 and review.rating <= 2.5 %}-half color-green{% elif review.rating > 2.5 %}-fill color-green{% endif %}"></i>
    </li>
    <li class="list-inline-item m-e-2">
        <i class="bi bi-circle{% if review.rating > 3 and review.rating <= 3.5 %}-half color-green{% elif review.rating > 3.5 %}-fill color-green{% endif %}"></i>
    </li>
    <li class="list-inline-item m-e-2">
        <i class="bi bi-circle{% if review.rating > 4 and review.rating <= 4.5 %}-half color-green{% elif review.rating > 4.5 %}-fill color-green{% endif %}"></i>
    </li>
</ul>