<li class="list-inline-item m-e-2">
    <i class="bi bi-circle{% if attraction.review_avg < 0.5 %}-half color-green{% elif attraction.review_avg > 0.5 %}-fill color-green{% endif %}"></i>
</li>
<li class="list-inline-item m-e-2">
    <i class="bi bi-circle{% if attraction.review_avg > 1 and attraction.review_avg <= 1.5 %}-half color-green{% elif attraction.review_avg > 1.5 %}-fill color-green{% endif %}"></i>
</li>
<li class="list-inline-item m-e-2">
    <i class="bi bi-circle{% if attraction.review_avg > 2 and attraction.review_avg <= 2.5 %}-half color-green{% elif attraction.review_avg > 2.5 %}-fill color-green{% endif %}"></i>
</li>
<li class="list-inline-item m-e-2">
    <i class="bi bi-circle{% if attraction.review_avg > 3 and attraction.review_avg <= 3.5 %}-half color-green{% elif attraction.review_avg > 3.5 %}-fill color-green{% endif %}"></i>
</li>
<li class="list-inline-item">
    <i class="bi bi-circle{% if attraction.review_avg > 4 and attraction.review_avg <= 4.5 %}-half color-green{% elif attraction.review_avg > 4.5 %}-fill color-green{% endif %}"></i>
</li>
<li class="list-inline-item text-muted">{{ attraction.review_number }} reviews</li>