<div class="col-4">
    Excellent
</div>
<div class="col-4">
    <div class="progress border-radius-15">
        <div class="progress-bar color-green-bg" role="progressbar" style="width: {{ attraction.review_5 }}%"
             aria-valuenow="{{ attraction.review_5 }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="col-4">
    {{ attraction.review_5 }}
</div>
<div class="col-4">
    Very good
</div>
<div class="col-4">
    <div class="progress border-radius-15">
        <div class="progress-bar color-green-bg" role="progressbar" style="width: {{ attraction.review_4 }}%"
             aria-valuenow="{{ attraction.review_4 }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="col-4">
    {{ attraction.review_4 }}
</div>
<div class="col-4">
    Average
</div>
<div class="col-4">
    <div class="progress border-radius-15">
        <div class="progress-bar color-green-bg" role="progressbar" style="width: {{ attraction.review_3 }}%"
             aria-valuenow="{{ attraction.review_3 }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="col-4">
    {{ attraction.review_3 }}
</div>
<div class="col-4">
    Poor
</div>
<div class="col-4">
    <div class="progress border-radius-15">
        <div class="progress-bar color-green-bg" role="progressbar" style="width: {{ attraction.review_2 }}%"
             aria-valuenow="{{ attraction.review_2 }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="col-4">
    {{ attraction.review_2 }}
</div>
<div class="col-4">
    Terrible
</div>
<div class="col-4">
    <div class="progress border-radius-15">
        <div class="progress-bar color-green-bg" role="progressbar" style="width: {{ attraction.review_1 }}%"
             aria-valuenow="{{ attraction.review_1 }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="col-4">
    {{ attraction.review_1 }}
</div>